<!DOCTYPE html>
<head>
  <script src="/js/showResponseForm.js"></script>
  <script>
    document.addEventListener('readystatechange', function() {
      if (document.readyState === "complete") {
        showResponseForm(document.querySelectorAll('.question'));
      }
    });
  </script>

  <style>
    .hidden { display:none; }
  </style>
</head>
<body>
<% @questions.each do |question| %>
  <div class="question">
  <form method="post" action="/questions/<%=question.id%>/hearts">
    <h2><%= question.heart_count %> <3s - <%= question.title %><input type="submit" value="<3 it!"><a href="#" class="show_response_form">Respond</a></h2>
    <% question.responses.each do |response| %>
      <div><%= response.body %></div>
    <% end %>
  </form>

  <form class="response_form"  method="post" action="/questions/<%=question.id%>/responses">
    <textarea name="response[body]">
    </textarea>
    <input type="submit" value="Respond!" />
  </form>

  </div>
<% end %>

<% unless @question.errors.empty? %>
  <% @question.errors.full_messages.each do |error| %>
    <p class="error"><%= error %></p>
  <%  end %>
<% end %>

<form method="POST" action="/questions">
  <label>Title: <input type="text" name="question[title]" value="<%=@question.title%>"></label>
  <input type="submit" value="Ask Away!">
</form>
</body>
</html>
