<% @questions.each do |question| %>
  <form method="post" action="/questions/<%=question.id%>/hearts">
    <p><%= question.heart_count %> <3s - <%= question.title %><input type="submit" value="<3 it!"></p>
  </form>
<% end %>

<% unless @question.errors.empty? %>
  <% @question.errors.full_messages.each do |error| %>
    <p class="error"><%= error %></p>
  <%  end %>
<% end %>

<form method="POST" action="/questions">
  <label>Title: <input type="text" name="question[title]" value="<%=@question.title%>"></label>
  <input type="submit" value="Ask Away!">
</form>
